/** @format */

.nav {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;

  ul {
    display: flex;

    li {
      display: flex;
      color: white;
      align-items: center;
      cursor: pointer;
      font-size: 20px;
      transition: color 0.4 ease-in;
      margin-right: 20px;
      &:nth-child(1) {
        font-size: 24px;
      }

      &:hover {
        color: rgb(227, 227, 227);
      }
    }
  }

  .input {
    // button {
    //   padding: 10px 25px;
    //   background-color: grey;
    //   border: none;
    //   margin-left: 10px;
    //   cursor: pointer;
    //   border: 0.3px solid white;
    //   border-radius: 10px;
    //   color: white;
    // }
  }
}
